.header {
  position: relative;
  z-index: 150;
  background-color: #FFF;
  box-shadow: 0px 0px 10px 2px #FFF;
  transition: 0.5s opacity;
  opacity: 0;
  pointer-events: all;
  margin-bottom: 100px;
}

.show-header {
  opacity: 1;
  pointer-events: all;
}

.logo {
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 5px;
  color: #1f1f1f;
  text-shadow: 0 0 4px #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;
}

.navigation {
  display: flex;
  min-height: 55px;
  justify-content: space-between;
}

.navigation__list {
  display: flex;
  flex: 0 1 500px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navigation__item {
  text-align: center;
  cursor: pointer;
  transition: 0.2s all;
  position: relative;
}

.navigation__item:not(:last-child) {
  margin-right: 30px;
}

.navigation__item.unlock {
  color: gray;
}

.navigation_active:hover {
  transform: translateX(-5px);
}

.navigation__button {
  font-size: 18px;
}

.navigation__description {
  position: absolute;
  top: 70px;
  left: -15px;
  min-height: 200px;
  min-width: 300px;
  background: #FFF;
  box-shadow: 0px 0px 10px 2px #FFF;
  padding: 20px;
  transition: 0.2s all;
  /* visibility: hidden; */
  text-align: left;
  opacity: 0;
  pointer-events: none;
}

.navigation__description::before {
  content: '';
  width: 20px;
  height: 20px;
  background: #FFF;
  box-shadow: 0px 0px 10px 2px #FFF;
  position: absolute;
  top: -7px;
  left: 40px;
  transform: rotate(45deg)
}

.navigation__item:hover .navigation__description {
  opacity: 1;
  pointer-events: all;
}

.navigation__title {
  margin-bottom: 20px;
}

.navigation__text {
  color: #1f1f1f;
  margin-bottom: 10px;
}