.main-page {
  min-height: 100vh;
  background-color: #1f1f1f;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow-x: hidden;
}

.welcome_theme_dark {
  box-shadow: 0px 0px 10px 1px #2ebbe4;
}

.submit-mouse-in {
  box-shadow: 0px 0px 10px 1px #81e737;
}

.welcome {
  max-width: 800px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 120;
  /* opacity: 0; */
}

.hide-welcome {
  display: none;
}

.welcome__wrap {
  margin: 0 auto;
  max-width: 620px;
  width: 100%;
  transition: 0.5s all;
}

.wrap_hard-mode {
  max-width: 750px;
}

.canvas-wrap {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1f1f1f;
  z-index: 50;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#canvas-planets {
  z-index: 10;
}

@media screen and (max-width: 800px) {
  .welcome__wrap {
    max-width: 450px;
  }
  .wrap_hard-mode {
    max-width: 450px;
  }
}